# don't ignore the local image host
#/img/

# Inbox (waiting for filing)
/0-Inbox/

# temporary files
/0-Inbox/rename.bat

# private folders
# /7-个人向/72-个人发展/721-个人会议/

# VSCode workspace file
Note.code-workspace
